
:root {
  --default-text-colour: #cb3437;
}

h1 {
  color: var(--default-text-colour);
  font-family: Helvetica;
  font-size: xx-large;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-image: url("/static/theatre.jpg");
  background-size: cover;
  background-color: #000000;
}

.instructions {
  color: var(--default-text-colour);
}

.recs {
  color: var(--default-text-colour);
}

#interpretations {
  color: var(--default-text-colour);
  background-color: #00000000;
}


.input {
  background-color: #dddddd;
}

.second {
  color: darkred;
  font-family: Helvetica;
}
